{{>header}}


<h2>this is the about page!</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores maxime
  aut quos delectus earum cum officia dicta, saepe soluta nihil repellendus
  mollitia, totam dolore minus harum facilis animi tempora praesentium!</p>

<p> {{description}} </p>

{{>footer}}